

.leftcontainer {
    position: absolute;
    width: 20%;
    height: 100px;
    background-color: aqua;
    margin-top: 0;
    margin-left: 0;
}
.middlecontainer {
    position: absolute;
    display: inline;
    width: 50%;
    height: 100px;
    margin-left: 20%;
    margin-top: 0;
    background-color: beige;
    text-align: center;
    text-shadow: 3px;
    font-family: cursive;

}
.rightcontainer {
    position: absolute;
    display: inline;
    width: 30%;
    height: 100px;
    margin-left: 70%;
    margin-top: 0;
    background-color: rgb(0, 0, 0);
    

}
.active {
    display: inline-block;
    position: relative;
    background-color: black;
    margin-top: 30px;
    margin-left: 10px;
    block-size: 30px;
    padding: 5px;
    text-align: center;
    font-size: medium;
    font-family: cursive;
    color: black;
}
.main{
    position: relative;
    margin-top: 90px;
    float: 80%;
    float:left;

}
.menu {
    position: relative;
    margin-top: 90px;
    float: 20%;
    margin-right: 0;
    float:right;
    background-color: red;
    height: 550px;
    width: 7.95%;
    line-height: 3;
}
.maincon{
    position: relative;
    margin-top: 0px;
    float: 80%;
    float:left;
    background-color:skyblue;
    padding: 0;
}

h2 {
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    float: left;
    }
#dp {
        position: absolute;
        margin-top: 200px;
        margin-left: 50px;
        float: left;
        line-height: 1.5;
        }
        .leftmenu{
            display: list-item;
            position: relative;

            
        }